<div class="app-shell">
  <aside class="sidebar">
    <div class="brand">
      <div class="brand-icon">OF</div>

      <div>
        <h4>Oficina</h4>
        <span>Gestão de serviços</span>
      </div>
    </div>

    <nav class="menu">
      <a
        *ngIf="authService.isAdmin()"
        routerLink="/clientes"
        routerLinkActive="active-link"
      >
        <span>👤</span>
        Clientes
      </a>

      <a
        *ngIf="authService.isAdmin()"
        routerLink="/veiculos"
        routerLinkActive="active-link"
      >
        <span>🚗</span>
        Veículos
      </a>

      <a
        *ngIf="authService.isAdmin()"
        routerLink="/itens"
        routerLinkActive="active-link"
      >
        <span>🧰</span>
        Itens
      </a>

      <a routerLink="/ordens-servico" routerLinkActive="active-link">
        <span>📝</span>
        {{ authService.isCliente() ? 'Minhas Ordens' : 'Ordens' }}
      </a>
    </nav>

    <button class="logout-btn" type="button" (click)="logout()">
      Sair
    </button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
